.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Root {
  background-image: url('./res/Background.png');
  position: fixed;
  width: 100%;
  height:100%;
  background-size: cover;
  background-position: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fade infinite 7s linear;
  }
}

.App-header {
  background-color: #222021;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a8511a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
